@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: "inter", sans-serif;
  --textColor: #46AEFE
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --textColor: #0a0a0a
  }
}

body {
  color: var(--textColor);
  background: var(--background);
  font-family: var(--font-inter);
}

/* Background grid class */
.bg-grid {
  background-image: 
    linear-gradient(to right, #AEAEAE 1px, transparent 1px),
    linear-gradient(to bottom, #AEAEAE 1px, transparent 1px);
  background-size: 40px 40px; /* Ukuran grid, sesuaikan dengan preferensi Anda */
  mask-image: radial-gradient(ellipse 50% 50% at 50% 50%, #000 80%, transparent 100%);
  -webkit-mask-image: radial-gradient(ellipse 50% 70% at 50% 50%, #000 0%, transparent 60%);
}

